<!DOCTYPE html>
<html>
<head>
    <link href="~/Styles/Site.css" rel="stylesheet" />
    <title>@Page.Title</title>
    @RenderSection("head", required: false)
</head>
<body>
    <h1>Gestión de Hotel</h1>
    <h2>@Page.Title</h2>
    <div class="nav">
    </div>
    @RenderBody()
</body>
</html>
